plantdisease/lib/python3.9/site-packages/tensorflow/libtensorflow_cc.2.dylib
plantdisease/lib/python3.9/site-packages/tensorflow/compiler/mlir/stablehlo/stablehlo_extension.so
plantdisease/lib/python3.9/site-packages/clang/native/libclang.dylib